.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}


.pure-menu-horizontal {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #2e8b57;
}

.button-active {
  display: inline-flex;
  margin-left: 74%;
  justify-content: flex-end;
}

.home_link {
  font-family:'Amita';
}